<p style="color: green"><%= notice %></p>

<h1>Reviews</h1>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%# <% if review.passenger == current_user %>
        <%= render review %>
        <p>
          <%= link_to "Show this review", review %>
        </p>
    <%# <% end %>   
  <% end %>
</div>

<%#= link_to "New review", new_review_path %>
